<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ec.florian.type-clipboard</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>20EABD78-B0DB-442B-92C9-7C758157792B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F6C5B73-623E-4BC8-AD8B-93A4FEE51DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F6DE6457-CC3D-4AF8-9A01-A69359538669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F6C5B73-623E-4BC8-AD8B-93A4FEE51DC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>801632F0-ABDE-45A2-9F3A-FFA2CB999806</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8C9D798-227A-4EC0-9C90-AA4B69C4F902</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF77F8F7-88C4-4A17-9924-079594894CD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6DE6457-CC3D-4AF8-9A01-A69359538669</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8C9D798-227A-4EC0-9C90-AA4B69C4F902</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Florian Eckerstorfer</string>
	<key>description</key>
	<string>Automatically types text from clipboard into the focused text area</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Type Text</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  tell application "System Events"
    keystroke "{query}"
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>801632F0-ABDE-45A2-9F3A-FFA2CB999806</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>type</string>
				<key>subtext</key>
				<string>Types the given text or the text in the clipboard</string>
				<key>text</key>
				<string>Type Text</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>20EABD78-B0DB-442B-92C9-7C758157792B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>4F6C5B73-623E-4BC8-AD8B-93A4FEE51DC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E8C9D798-227A-4EC0-9C90-AA4B69C4F902</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  tell application "System Events"
    keystroke "{query}"
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF77F8F7-88C4-4A17-9924-079594894CD5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F6DE6457-CC3D-4AF8-9A01-A69359538669</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>20EABD78-B0DB-442B-92C9-7C758157792B</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>4F6C5B73-623E-4BC8-AD8B-93A4FEE51DC9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>801632F0-ABDE-45A2-9F3A-FFA2CB999806</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Use text from argument</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>BF77F8F7-88C4-4A17-9924-079594894CD5</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>No text in argument, use clipboard</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>E8C9D798-227A-4EC0-9C90-AA4B69C4F902</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>F6DE6457-CC3D-4AF8-9A01-A69359538669</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://florian.ec</string>
</dict>
</plist>
